<div class="container">

    <form #category="ngForm"  (ngSubmit)="onSubmit(category)" >
<div class="form-group">
  <label for="categoryname">Categoryname</label>
  <input type="text" ngModel  name="categoryname" #categoryname="ngModel" id="categoryname" required class="form-control" placeholder="categoryname" >
 <div *ngIf="!categoryname.valid && categoryname.touched" class="alert alert-danger">Category Name Required</div>
</div>

<div class="form-group">
  <label for="description">Category Description</label>
  <input type="text" ngModel  name="description" #description="ngModel" id="description" required class="form-control" placeholder="description" >
 <div *ngIf="!description.valid && description.touched" class="alert alert-danger">Category Name Required</div>
</div>
<button [disabled]="category.invalid" class="btn btn-primary">Add Category</button>

    </form>
 <div *ngIf="isError" class="alert alert-danger">{{errorMessage}}</div>
</div>

<hr>
<div class="container">
  <table class="table table-stripped">
  <thead>
    <tr>
      <th>id</th>
      <th>Category Name</th>
      <th>Category Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categorylist" >
      <td>{{item.CategoryId}}</td>
      <td>{{item.categoryname}}</td>
      <td>{{item.description}}</td>
      <td><button routerLink="/updatecategory/{{item.CategoryId}}" class="btn btn-success">Update</button></td>
      <td><button (click)="categorydelete(item.CategoryId)" class="btn btn-danger">Delete</button></td>
      
    </tr>
  </tbody>
  </table>
</div>