<ul class="list-group ">
  
  <li (click)="selected(1)" class="list-group-item topside" >
      <div class="icon1">
          <i class="material-icons">
              dashboard
              </i>
      </div>
  Dash Board
  <i class="fas fa-chevron-right"></i>
  </li>
 
  <li (click)="selected(2)" class="list-group-item topside" >
      <div class="icon1">
          <i class="material-icons">
              category
              </i>
      </div>
  Category
  <i class="fas fa-chevron-right"></i>
  </li>
 
  <li (click)="selected(3)" class="list-group-item topside" >
      <div class="icon1">
          <i class="fab fa-product-hunt fa-2x"></i>
      </div>
 Product
  <i class="fas fa-chevron-right"></i>
  </li>


  <!-- <li class="list-group-item topside">Dapibus ac facilisis in</li>
  <li class="list-group-item topside">Morbi leo risus</li>
  <li class="list-group-item topside">Porta ac consectetur ac</li>
  <li class="list-group-item topside">Vestibulum at eros</li> -->
</ul>