.topside{
    list-style-type: none;
    border: none;
    display: flex ;
    align-items: center;
    justify-content : space-between;
}
.topside:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
/* .icon1{
    border-radius: 50px;
    border: 1px solid grey;
    padding-right: 5px;
    padding-left: 5px;
} */